@{
    var id = ViewBag.IdDiario;
    var datos = ViewBag.Elements;

    var contador = 1;
    var contadorTabla = 1;
    var fecha = ViewBag.Fecha;
    var tablas = ViewBag.Tablas;
    var texto = ViewBag.Texto;
    int codigo = ViewBag.codigoDiario;


    var resultado = ViewBag.Resultado;
    var textonulo = ViewBag.Texto;
    var total = ViewBag.Total;
}

<div class="d-flex flex-column animate__animated animate__fadeInRight duration-500">

    <section class="d-flex flex-col justify-content-center responsive-x-padding mt-5 mb-5">
        <a class="mb-3" href="/C5i"><h3><i class="bi bi-arrow-left"></i> Panel Principal</h3></a>
        <!-- titulo de vista -->
        <h2>Diario <span class="secondary-text">@String.Format("{0:d/M/yyyy}", fecha)</span></h2>
        <div class="d-flex justify-content-between">
            <div class="col-lg-6 no-bootstrap-padding d-flex">
                @using (Html.BeginForm("Diario", "c5i", FormMethod.Post))
                {<input type="hidden" value="@codigo" name="id" />
                    <input type="hidden" value="@fecha" name="fecha">
                    <input class="full-width pl-3 mr-2" id="search" type="text" name="texto" spellcheck="true" required placeholder="Buscar dentro de este diario...">
                    <button class="btn btn-success btn-buscar" type="submit" id="searchButton"><i class="bi bi-search"></i>  Buscar</button>
                }
            </div>

            <div class="col-lg-6 no-bootstrap-padding d-flex justify-content-end">
                <button class="btn btn-primary mr-2" id="abrir" @*href="/C5i/NuevaNota/@id"*@><i class="bi bi-arrow-down-circle"></i> Nuevo Registro</button>
                <a class="btn btn-outline-secondary btn-cerrar" data-id="@id" id="cerrarDiario"><i class="bi bi-unlock"></i> <span class="btn-text">Cerrar Diario</span></a>
            </div>
        </div>
    </section>

    <section class="d-flex responsive-x-padding">
        <hr class="view-hr">
    </section>

    <input value="@id" id="idDiario" hidden />

    <div class="d-flex responsive-x-padding flex-column">

        @*FOREACH PARA LAS TABLAS*@
        <h2 class="text-left">DIRECTIVAS</h2>
        @if (tablas.Count > 0)
        {
            <div class="border rounded w-100 p-4 mt-3 background-primary ">
                <h3 class="text-center mb-3 mt-4"><strong>Seguimiento Diario Casos Positivos y Sospechosos</strong></h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Provincias Impactadas</th>
                            <th scope="col">Visitas Realizadas</th>
                            <th scope="col">Equipos Empleados</th>
                            <th scope="col">Visitas Acumuladas</th>
                            <th scope="col">Fallecidos del Dia</th>
                            <th scope="col">Traslados del dia</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in tablas)
                        {
                            <tr>
                                <td scope="col">@contadorTabla</td>
                                <td scope="col">@item.provincia</td>
                                <td scope="col">@item.visitas_realizadas</td>
                                <td scope="col">@item.equipos</td>
                                <td scope="col">@item.visitas_acomuladas</td>
                                <td scope="col">@item.fallecidos</td>
                                <td scope="col">@item.traslados</td>
                            </tr>
                            contadorTabla++;
                        }
                    </tbody>
                </table>
            </div> } @*FOREACH PARA LAS NOTAS*@

        <section class="d-flex responsive-x-padding">
            <hr class="view-hr">
        </section>

        <h2 class="text-left mt-5">NOTAS</h2>

        @if (texto == null)
        {
            if (datos != null)
            {
                foreach (var item in datos)
                {<!--item inicio-->
                    <div id="notaResumida" class="border rounded w-100 p-4 mt-3 background-primary">
                        <div class="nota">
                            <h5 class="secondary-text">@contador</h5>
                            <div class="d-flex">
                                <div class="col-lg-8 no-bootstrap-padding">
                                    <h3 class="mb-4"><b>@item.asunto</b></h3>
                                </div>
                                <div class="col-lg-4 no-bootstrap-padding d-flex justify-content-end">
                                    @if (item.estadoDiario != "1" && Session["Acceso"].ToString() == "1")
                                    {
                                        <a class="boton-rapido hover-accent border-right" title="Editar esta nota" href="/C5i/EditarNota/@item.id_nota"><i class="lni lni-pencil"></i></a>
                                        <button class="boton-rapido hover-cancel" type="button" id="EliminarNota" title="Eliminar esta nota" data-id="@item.id_nota"><b>X</b></button>}
                                </div>
                            </div>
                            <div class="d-flex justify-content-between h-100">

                                <div class="col-lg-8 flex-column d-flex justify-content-between no-bootstrap-padding">
                                    <p>@item.detalles</p>
                                    <div class="d-flex justify-content-start flex-column">
                                        <h4 class="secondary-text"><span class="mini-subtitle"><i class="bi bi-geo-alt"></i> @item.direccion</span>, @item.sector, @item.municipio, @item.provincia</h4>
                                        <h4 class="secondary-text"><i class="bi bi-clock"></i> @item.hora</h4>
                                    </div>
                                    <!---<h5 class="mini-subtitle">Escribiente: <span id="nombreEscribiente">@item.rango. @item.nombres @item.apellidos., @item.institucion</span></h5>-->
                                </div>

                                <div class="col-lg-4">
                                    <div class="diario-img-wrap overflow-hidden w-100 h-100">
                                        <img class="w-100" src="~/img/blank-img.png" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!--item final--> contador++;
                }
            }
            else
            {
                <h2 class="mt-5">Aun no has registrado ninguna nota</h2> }
        }


        //else para verificar texto
        else
        {
            if (resultado != null)
            {
                for (int i = 0; i < resultado.Count; i++)
                {
                    if (resultado[i].Count > 0)
                    {
                        var Nombres = resultado[i][0].id_nota;

                        <div id="notaResumida" class="border rounded w-100 p-4 mt-3 background-primary mb-5">
                        <div class="nota">
                            <div class="d-flex">
                                <div class="col-lg-8 no-bootstrap-padding">
                                    <h3 class="mb-4" id="asuntoDeNota">
                                        <b>
                                            @{ string asunto = resultado[i][0].asunto;
                                                var asunto2 = resultado[i][0].asunto;
                                                var detalle2 = resultado[i][0].detalles;
                                                var detalle = resultado[i][0].detalles;
                                                string[] Dpuerta = detalle2.Split(' ');
                                                string[] Apuerta = asunto2.Split(' ');
                                                if (texto == null && textonulo != null)
                                                {
                                                    foreach (var item in Dpuerta)
                                                    {
                                                        if (Dpuerta == textonulo)
                                                        {
                                                            texto = Dpuerta.ToString();
                                                            detalle.Replace(Dpuerta, "<span style='background:yellow;Color:black'>" + Dpuerta + "</span>");
                                                        }
                                                    }
                                                }
                                            }
                                            @Html.Raw(asunto.Replace(texto, "<span style='background:yellow;Color:black'>" + texto + "</span>"))
                                        </b>
                                    </h3>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between h-100">
                                <div class="col-lg-8 flex-column d-flex justify-content-between no-bootstrap-padding">
                                    <p>@Html.Raw(detalle.Replace(texto, "<span style='background:yellow;Color:black'>" + texto + "</span>"))</p>
                                    <div class="d-flex justify-content-start flex-column">
                                        <h4 class="secondary-text"><span class="mini-subtitle"><i class="bi bi-geo-alt"></i> @resultado[i][0].direccion</span>, @resultado[i][0].sector, @resultado[i][0].municipio, @resultado[i][0].provincia</h4>
                                        <h4 class="secondary-text"><i class="bi bi-clock"></i> @resultado[1][0].hora</h4>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="diario-img-wrap overflow-hidden w-100 h-100">
                                        <img class="w-100" src="~/img/blank-img.png" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                }
            }
            else
            {
                <h2>No se encontraron coincidencias</h2>
            }
            <!--FINAL-->
        }

        @*MODAL*@
        <div class="modal fade modalMenu" tabindex="2" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content shadow">
                    <div class="modal-header">
                        <h5 class="modal-title">Tipo de Registro</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <button class="btn btn-success" id="opcionNota">Nota</button>
                        <button class="btn btn-success" id="opcionTabla">Tabla</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script src="~/Scripts/scripts/sweetalert.js"></script>
<script src="~/Scripts/scripts/C5i/Diario/Diario.js"></script>

<script type="text/javascript">
    $('#abrir').click(function (e) {
        e.preventDefault();
        const ID = $('#idDiario').val();
        $('.modalMenu').modal('show');
        console.log(ID)
        $('#opcionNota').click(function () {
            document.location.href = `/C5i/NuevaNota/${ID}`;
        });
        $('#opcionTabla').click(function () {
            document.location.href = `/C5i/NuevaTabla/${ID}`;
        })
    });
</script>


